body{
    background-color: azure;
    padding:0px 70px
}
.nav{
    display: flex;
    flex-direction: row;
    margin-left: 30%;
}
.nav li {
    display: inline-block;
    list-style-type: none;
    padding: 19px 19px;
    text-align: center;
}
.nav li a{
    text-decoration: none;
    color: black;
}
.nav img{
width: 7%;
}
.home{
display: flex;
flex-direction: row;
margin-top: 50px;
justify-content: space-between;
}
 #pone{
font-size: 50px;
color: #054208;
 }
 #ptwo{
font-size: 20px;
margin-top: 50px;
 }
 /* Our story */
 .ourstory{
    display: flex;
    flex-direction: row;
    margin-top: 70px;
    justify-content: space-between;
 }
 .storyparag{
    width: 40%;
 }
 #h1story{
  color: #054208;
 }
 #pstory{
font-size: 20px;
 }
#ourstoryimg{
    border-radius: 70px;
}
.availableprices{
    display: flex;
    flex-direction: row;
    margin-top: 12%;
    justify-content: space-between;
}
#h1prices{
    font-size: 50px;
    color: #054208;
}
#h3prices{
    font-size: 20px;
}
/* what we offer */
.whatweoffer{
    margin-top:12% ;
    text-align: center;
}
#h2offer{
    font-size: 30px;
    color: #054208;
}
#poffer{
    font-size: 20px;
    text-align: center;
}
/* Fruits and veggies */
.veggies{
    margin-top: 5%;
}
#imgveggies{
    width: 30%;
    margin: 8px;
    border-radius: 70px;
}
#h2veggies{
    text-align: center;
    font-size: 30px;
    color: #054208;
}
/* services we offer */
.servicesweoffer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#h2services{
    text-align: center;
    font-size:30px ;
    margin-top: 10%;
    color: #054208;
}
.offer h2{
    font-size: 50px;
    color: #054208;
}
.offer p{
    font-size: 20px;
}
#imgoffer{
    width: 150%;
    margin-left: 35px;
}